@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

* {
  font-family: "Montserrat", sans-serif;
}

.loader {
  width: 80px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 12px solid whitesmoke;
  animation:
    l20-1 0.8s infinite linear alternate,
    l20-2 1.6s infinite linear;
}

@keyframes l20-1 {
  0% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%)
  }

  12.5% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%)
  }

  25% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%)
  }

  50% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%)
  }

  62.5% {
    clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%)
  }

  75% {
    clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%)
  }

  100% {
    clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%)
  }
}

@keyframes l20-2 {
  0% {
    transform: scaleY(1) rotate(0deg)
  }

  49.99% {
    transform: scaleY(1) rotate(135deg)
  }

  50% {
    transform: scaleY(-1) rotate(0deg)
  }

  100% {
    transform: scaleY(-1) rotate(-135deg)
  }
}

/* ===== Global Scrollbar Theme ===== */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
  background: #f1f3f5;
  /* soft neutral gray */
  border-radius: 10px;
}

/* Scrollbar Thumb */
::-webkit-scrollbar-thumb {
  background: #c5c7ca;
  /* medium gray for visibility */
  border-radius: 10px;
  transition: background 0.3s ease;
}

/* Hover effect */
::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
  /* slightly darker gray */
}

/* Firefox scrollbar styling */
* {
  scrollbar-width: thin;
  scrollbar-color: #c5c7ca #f1f3f5;
}

.dark ::-webkit-scrollbar-track {
  background: #0f0f10;
  /* deep black */
}

.dark ::-webkit-scrollbar-thumb {
  background: #3f3f46;
  /* zinc-700 */
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: #52525b;
  /* zinc-600 */
}

/* Firefox dark mode */
.dark * {
  scrollbar-color: #3f3f46 #0f0f10;
}
